body {
    font-family: serif;
    font-size: 1.8em;
}

nav.navigation .container {
   border-bottom: 1px dashed #ccc;
}

footer.footer .container {
    font-family: Lato, Helvetica, sans-serif;
    font-size: 0.8em;
    color: #555;
}

footer.footer p {
    margin: 0.5rem;
}

@media only screen and (max-width: 768px) {
    div.home.about {
        display:none;
    }
}

.list ul li .date {
    width: 15rem;
}